<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link CSS file -->
    <link rel="stylesheet" href="/static/css/index.css?v={{ static_version('static/css/index.css') }}">

    <!-- Title of page -->
    <title>Document</title>

    <!-- Link canonical -->
    <link rel="canonical" href="{{ canonical }}">
</head>
<body>
    {% block body %}{% endblock body %}
    <script defer src="/static/js/index.js?v={{ static_version('static/js/index.js') }}"></script>
</body>
</html>